.dataContainer {
  width: 100%;
  margin-left: 0;
  height: 75vh;
}

.container {
  width: 60%;
}

.body {
  height: 94%;
  box-sizing: border-box;
  padding: 50px 20px;
}

.dragAndDropArea {
  height: 100%;
}