@import "../../../assets/variables";
@import "../../../assets/fonts";

.newUserPopup > div:last-child{
  max-width: 600px;
  min-width: 450px;
  padding: 50px;
}

.newUserCaption {
  color: $dark-gray;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.label {
  font: $text-regular;
  display: flex;
}

.visible {
  visibility: visible;
  height: 2em;
  img {
    margin-left: 5px;
  }
  p {
    margin: 15px 0;
  }
}

.hidden {
  visibility: hidden;
  height: 2em;
}

.select {
  width: 100%;
  height: 30px;
  background-color: white;
  padding-left: 5px;
  font: $text-regular;
  margin: 20px 0;
}

.maxWidth {
  width: 90%;
}
