@import "../../../assets/variables";
@import "../../../assets/fonts";

.popupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;

  z-index: $z-index-99;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0 7px 10px 7px;
}

.cross {
  cursor: pointer;
}

.blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: $white;
  opacity: .4;
}

.popup {
  max-width: 600px;
  min-width: 450px;
  position: relative;

  padding: 25px;

  background-color: $white;
  box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.37);
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-bottom: 5px;

  color: $black;
  font: $text-error-message-title-bold;
}

.image {
  padding-bottom: 20px;
}

.text {
  color: $black;
  font: $text-error-message-semibold;
}

.buttons {
  padding-top: 30px;
}

label {
  font: $text-regular;
  display: flex;
}

form {
  width: 80%;
}

input {
  width: 82%;
}

.visible {
  visibility: visible;
  img {
    margin-left: 5px;
  }
  p {
    margin: 15px 0;
  }
}

//.error {
//  margin: 0 auto 25px auto;
//  width: 320px;
//  transition: opacity .5s ease-in-out;
//}

.hidden {
  visibility: hidden;
}

select {
  width: 100%;
  height: 30px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 5px;
  font: normal 18px "Montserrat";
  //background-size: contain;
  margin: 20px 0;
  //appearance: none;       /* Remove default arrow */
  //background-image: url(https://cdn.icon-icons.com/icons2/38/PNG/512/downarrow_abajo_5820.png);   /* Add custom arrow */
}

textarea {
  width: 96%;
  resize: none;
  height: 100px;
  padding: 5px;
  border: 2px solid gray;
  font: normal 18px "Montserrat";
}
