@import "../../../assets/variables";

.input {
  width: 250px;
  border: none;
  background-color: $light-gray;
  border-radius: 45px;
  font: $text-light;
  font-size: 18px;
  line-height: 30px;
  color: black;
  padding: 7px 45px 7px 15px;
  outline: none;
}

.container {
  position: relative;
  width: max-content;
}

.icon {
  width: 17px;
  opacity: 0.5;
}

.search {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  cursor: pointer;
}

.input:focus + .icon {
  opacity: 1;
}

::-webkit-input-placeholder { /* Edge */
  color: $dark-gray;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $dark-gray;
}

::placeholder {
  color: $dark-gray;
}