@import "./fonts";

//fonts
$text-regular: normal 18px "Montserrat";
$text-bold: 700 36px "Montserrat";
$text-error-message-semibold: 600 14px "Montserrat";
$text-error-message-title-bold: 600 25px "Montserrat";
$text-button-bold: 700 18px "Montserrat";
$text-button-bold-small: 700 14px "Montserrat";

//colors
$blue: #007eff;
$gray: #cbcbcb;
$light-gray: #e8e8e8;
$dark-gray: #5b5b5b;
$white: #ffffff;
$black: #333333;

//z-index
$z-index-99: 99;

//viewports
$tablet-width: 1100px;
$mobile-width: 750px;
$small-mobile-width: 380px;
